:root{
    --default: #827af3;
    --iq-primary: #827af3;
    --iq-primary-dark: #5D5CB8;
    --iq-success: '';
    --iq-success-dark: '';
    --iq-info: '';
    --iq-info-dark: '';
    --iq-danger: '';
    --iq-danger-dark: '';
    --iq-warning: '';
    --iq-warning-dark: '';
    --iq-pink: '';
    --iq-pink-dark: '';
    --iq-dark: '';
    --iq-dark-dark: '';
    --iq-light: '';
    --iq-light-dark: '';
}
